azure-functions==1.21.3
azure-core==1.30.2
azure-identity==1.17.1
azure-storage-blob==12.24.0
llama-index==0.11.8
llama-index-core==0.11.8
llama-index-embeddings-azure-openai==0.2.5
llama-index-embeddings-openai==0.2.4
llama-index-graph-stores-neo4j==0.3.2
llama-index-llms-azure-openai==0.2.1
llama-index-llms-openai==0.2.3
llama-index-vector-stores-neo4jvector==0.2.2
msal==1.31.0
msal-extensions==1.2.0
neo4j==5.24.0
networkx==3.3
nltk==3.9.1
openai==1.58.1
pyodbc==5.2.0
python-dotenv==1.0.1
sql_metadata==2.15.0